.galleryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
  max-width: 375px;
  margin: 0 auto;
}

.mainImageWrapper {
  position: relative;
  width: 100%;
  height: 280px;

  border-radius: 12px;
  overflow: hidden;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  object-fit: cover;
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  .galleryContainer {
    max-width: 768px;
    margin-bottom: 32px;
  }

  .mainImageWrapper {
    height: 400px;
    border-radius: 16px;
  }
}

@media (min-width: 1440px) {
  .galleryContainer {
    margin-bottom: 0;
    height: 100%;
  }

  .mainImageWrapper {
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  }
}
