.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

/* ===== Featured tools ===== */

.featuredToolsBlock {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.featuredToolsBlockName {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}

.featuredToolsBlockList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.featuredToolsBlockTools {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  min-width: 211px;
}

.featuredToolsBlockButton {
  border: 1px solid rgb(136, 8, 204);
  background-color: rgb(136, 8, 204);
  color: white;
  border-radius: 6px;
  padding: 10px 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.featuredToolsBlockButton:hover,
.featuredToolsBlockButton:focus {
  color: black;
  background-color: white;
}

.featuredToolsBlockButton:active {
  color: white;
  background-color: rgb(136, 8, 204);
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .featuredToolsBlock {
    padding: 96px 0;
  }

  .featuredToolsBlockName {
    font-size: 42px;
  }

  .featuredToolsBlockList {
    max-width: 704px;
    gap: 64px 32px;
    justify-content: center;
  }

  .featuredToolsBlockButton {
    padding: 10px 24px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 64px;
  }

  .featuredToolsBlock {
    padding: 112px 0;
  }

  .featuredToolsBlockList {
    max-width: 1312px;
    gap: 64px 32px;
  }

  .featuredToolsBlockName {
    font-size: 36px;
  }

  .featuredToolsBlockButton {
    padding: 10px 86px;
  }
}
