.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.loading {
  padding: 40px;
  text-align: center;
  font-size: 18px;
  color: #666;
}

.pageLayout {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 64px;
  }

  .pageLayout {
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
  }

  .leftColumn {
    width: 50%;
  }

  .rightColumn {
    width: 50%;
  }
}
