.container {
  width: 375px;
  margin: 0 auto;
  padding: 32px 20px;
}

.title {
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

.text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

.button {
  width: 100%;
  height: 40px;
  opacity: 1;
  border-radius: 6px;
  border: 1px solid #8808CC;
  background-color: #8808CC;
  cursor: pointer;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}

.button:hover {
  background-color: #E7CDF4;
  color: #000000;
  border: 2px solid #000000;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding: 32px 32px 220px 32px;
  }

  .title {
    font-size: 30px;
    margin-top: 106px;
  }

  .text {
    letter-spacing: -0.04em;
  }

  .button {
    width: 129px;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 48px 64px 208px 64px;
  }

  .title {
    font-size: 42px;
  }

  .text {
    font-size: 18px;
    letter-spacing: 0;
  }
}