.btn {
  border: 1px solid var(--color-electric-violet);
  border-radius: 6px;
  padding: 10px 24px;
  width: 182px;
  height: 44px;
  background: var(--color-electric-violet);
  color: var(--color-white);
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.btn:hover {
  color: black;
  background-color: white;
}
