.toolsList {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  box-sizing: border-box;
}

.toolsItem {
  width: 100%;
}

@media (min-width: 768px) {
  .toolsList {
    max-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    gap: 32px;
  }

  .toolsItem {
    width: calc((100% - 32px) / 2);
  }
}

@media (min-width: 1440px) {
  .toolsList {
    max-width: 1440px;

    gap: 32px;
  }

  .toolsItem {
    width: calc((100% - 96px) / 4);
  }
}

.btn {
  border: 1px solid var(--color-electric-violet);
  border-radius: 6px;
  padding: 10px 24px;
  width: 182px;
  height: 44px;
  background: var(--color-electric-violet);
  color: var(--color-white);
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.btn:hover {
  color: black;
  background-color: white;
}

.empty {
  margin-top: 24px;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 335px;
  margin: 0 auto;
}

.emptyTitle {
  font-size: 20px;
  margin-bottom: 8px;
}

.emptyText {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 16px;
}

.emptyBtn {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .empty {
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .empty {
    max-width: 1440px;
  }
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: var(
    --color-electric-violet
  ); /* Щоб не ставала білою при ховері */
  color: white;
}
