.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 413px;
  margin-bottom: 16px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #f3f4f6;
}

.image {
  object-fit: cover; /* Картинка обрізається, але не спотворюється */
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto;
  min-height: 48px;
}

.price {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px 20px;
  width: 100%;
  height: 40px;
  text-decoration: none;
  color: inherit;
  margin-top: auto;
}

.button:hover {
  background-color: rgba(243, 230, 249, 1);
  transition: background-color 0.3s ease;
}

@media (min-width: 1440px) {
  .imageWrapper {
    height: 375px;
  }
}
