.select {
  width: 100%;
  width: 335px;
  height: 40px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 8px 12px;
}

.select {
  width: 100%;
  height: 40px;
  margin-bottom: 24px;
}

.filter_button {
  background-color: transparent;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
  margin-bottom: 32px;
}
