.select {
  width: 335px;
  height: 40px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 8px 12px;
  margin-bottom: 24px;
}

.filter_button {
  background-color: transparent;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
  margin-bottom: 32px;
  text-align: left;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 768px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1440px;
  }
}
