.container {
  max-width: 375px;
  background-color: #F2F2F2;
  padding: 32px 20px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  max-width: 100%;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000000;
}

.form {
  margin-top: 48px;

}

.label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;

}

.input {
  margin-top: 8px;
  margin-bottom: 24px;
  padding: 8px 12px;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #000000;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

.select {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: #ffffff;

  width: 100%;
  min-height: 40px;
  padding: 8px 48px 8px 12px;
  border-radius: 6px;
  border: 2px solid #000000;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.selectWrapper {
  position: relative;
  margin-top: 8px;
  margin-bottom: 24px;
}

.selectWrapper:last-child {
  margin-top: 0;
}

/* КАСТОМНА СТРІЛКА */
.selectWrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  pointer-events: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M6 9l6 6 6-6' stroke='rgba(0,0,0,0.6)' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.textPrice {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 24px;
}

.button {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #8808CC;
  background-color: #8808CC;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.button:hover {
  background-color: #E7CDF4;
  color: #000000;
  border: 2px solid #000000;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
    padding: 32px;
  }

  .fieldGroup {
    display: flex;
    width: 704px;
    column-gap: 24px;

  }

  .input {
    min-width: 340px;
    margin-bottom: 24px;
  }

  .selectWrapper {
    min-width: 340px;
    margin-bottom: 24px;
  }

  .selectWrapper:last-child {
    margin-top: 8px;
  }

  .formActions {
    display: flex;
    justify-content: space-between;
  }

  .textPrice {
    margin-bottom: 0;
  }

  .button {
    width: 155px;
  }
}