.container {
  width: 375px;
  /* background-color: #F2F2F2; */
  padding: 32px 20px;
  margin: 0 auto;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000000;
}

.form {
  margin-top: 48px;
}

.fieldsetReset {
  border: none;
  margin: 0;
  padding: 0;
}

.inputWrapper {
  margin-bottom: 24px;
}

.label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  margin-top: 8px;
  padding: 8px 12px;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 1);

  color: rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

.input:hover,
.input:focus {
  border-color: rgba(136, 8, 204, 1);
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #8808CC;
  background-color: #8808CC;
  color: #FFFFFF;
  cursor: pointer;
}

.button:hover {
  background-color: #E7CDF4;
  color: #000000;
  border: 2px solid #000000;
}

.error {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(196, 2, 2, 1);
}

.inputWrapper:has(.error) .input {
  border-color: rgba(196, 2, 2, 1);
  color: rgba(196, 2, 2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 32px;
  }

  .title {
    font-size: 30px;
  }

  .fieldGroup,
  .formActions {
    display: flex;
    justify-content: space-between;
  }

  .input {
    min-width: 340px;
  }

  .textPrice {
    margin-bottom: 0;
  }

  .button {
    width: 155px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 48px 64px;
  }

  .title {
    font-size: 42px;
    margin-bottom: 48px;
  }

  .form {
    width: 864px;
    margin: 0 auto;
  }

  .input {
    min-width: 420px;
  }

  .textPrice {
    font-size: 18px;
  }
}