.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 50px;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

.link {
  color: #8808cc;
  text-decoration: underline;
  font-weight: 500;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #e5e7eb;
  border-bottom-color: #8808cc;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
