.container {
  width: 375px;
  /* background-color: #F2F2F2; */
  padding: 32px 20px;
  margin: 0 auto;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 32px;
  }

  .title {
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 48px 64px;
  }

  .title {
    font-size: 42px;
    margin-bottom: 48px;
  }
}