.pageWrapper {
  width: 100%;
  min-height: 100vh;
  background: var(--color-scheme-3-background);
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
  padding-top: 48px;
}

.container {
  padding: 0px 20px;
  max-width: 375px;
  margin: 0 auto;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 32px;
    max-width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0px 64px;
    max-width: 1440px;
  }
}
